body {
    font-family: 'Roboto Mono',monospace;
    text-align:center;
    background-image: url('https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F3.bp.blogspot.com%2F-annZ4zWJ65U%2FT5zRqpAda8I%2FAAAAAAAAHWU%2F_mfwWp_bCJo%2Fs1600%2FAvengers.jpg&f=1&nofb=1');
    background-color: #00000091;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right:10px;
  }
  
  body > img {
    margin: 0 5px;
  }
  